<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <caching enabled="true" enableKernelCache="true">
            <profiles>
                <add extension=".js" policy="DisableCache" kernelCachePolicy="DisableCache" />
                <add extension=".html" policy="DisableCache" kernelCachePolicy="DisableCache" duration="00:00:30" />
            </profiles>
        </caching>
        <staticContent>
            <clientCache cacheControlMode="DisableCache" />
        </staticContent>
    </system.webServer>
</configuration>
